footer.footer
  .footer__inner
      .footer__contacts
          h6.footer__title КОНТАКТи
          .footer__contacts-item.email
              p.footer__contacts-key Email
              a.footer__contacts-value(href="mailto: info@shtab.net") info@shtab.net
          .footer__contacts-item.phone
              p.footer__contacts-key Телефон/Факс
              a.footer__contacts-value(href="tel: +380976021543") +38 (097) 602 15 43
          .footer__contacts-item.adress
              p.footer__contacts-key Адреса
              p.footer__contacts-value 01021 м. Київ, вул. <br> Грушевського, 28/2, оф.15
      .footer__socials
          h6.footer__title МИ У СОЦМЕРЕЖАХ
          a.footer__socials-item.fb(href="#" title="facebook") facebook
          a.footer__socials-item.tw(href="#" title="twitter") twitter
          a.footer__socials-item.vk(href="#" title="vkontakte") vkontakte

      .footer__subscribe
                  h6.footer__title Підписатись <br> на оновлення
                  form.footer__form
                      input.footer__subscribe-input(type="text" placeholder="Ваше ім'я")
                      .footer__subscribe-wrap
                          input.footer__subscribe-input.small(type="email" placeholder="Ваш Email")
                          .footer__subscribe-submit-wrap
                            input.footer__subscribe-submit(type="submit" value="")
                      p.copyrights ГО «Антикорупційний штаб» © 2016